.caixaInterna .titulo{
    margin-top: 50px;
    padding: 1vh;
    background-color: #ffffff;
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    color: black;
    max-width: 60%;
}