.caixaExterna .rodape{
    max-width: 100%;
    padding: 10vh 15vw;
    background-color: #FFF;
}

h3.textoRodape{
    background-color: #FFF;
    text-decoration-color: black;
    font-size: 3vh;
}

