.caixaExterna .caixaLinks{
    padding: 1vh 0vw;
    font-size: 5vh;
}

.caixaLinks .links{
    color: rgb(192, 99, 37);
    padding: 1px;
    width: 18vh;
    height: 18vh;
    cursor: pointer;
    margin: 10vh 10vh 10vh 0;
    display: inline-block;
    

}

