.caixaInterna .caixaLinks{
    padding: 1vh 0vw;
    margin-top: 1vh;
    overflow: hidden;
}

.caixaLinks .links{
    padding: 1px;
    width: 80px;
    margin: 30px;
    display: inline-block;
    overflow: hidden
}

.caixaLinks .links:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
