.caixaInterna .subtitulo{
    padding: 0vh;
    font-size: 45px;
    color: snow;
    font-weight: bold;
}

.caixaInterna .textoInformacoes{
    margin-top: 5vh;
    font-size: 25px;
    color: snow;
    font-weight: 100;
}

.textoInformacoes .wywus{
    color: rgb(202, 158, 158);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.textoInformacoes .wywus:hover{
    color: snow;
    text-decoration: underline;
}