*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background-color: rgba(255, 176, 130);
}

body{
    font-family: 'Arvo', 'Open Sans';
    background-color: rgba(255, 176, 130);
}


.imagem{
    width:30%;
    border-radius: 1%;
}

.caixaInterna{
    padding: 10vh 15vw;
}

.caixaExterna .caixaInterna{
    min-width: 80%;   
}